.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: rgb(102, 125, 255);
}

.footer .imagens {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer .imagens img {
  height: 24px;
  width: 24px;
}

.text-footer h1 {
  font-size: 20px;
  color: white;
  font-weight: 300;
}
